/* Add some basic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2a2a;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 2px 4px black;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

section {
  height: 100vh;
  width: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

p {
  font-size: 1rem;
  margin: 0.5rem;
}

ul {
  list-style: none;
  margin: 0.5rem;
}

li {
  margin: 0.5rem;
}

/* Use media queries to make the template responsive */
@media (min-width: 768px) {
  /* Use a two-column layout for larger screens */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left {
    width: 40%;
    margin: 1rem;
  }

  .right {
    width: 50%;
    margin: 1rem;
  }
}
